.nav-header {
    font-size: 1.5rem;
}

.row {
    margin-bottom: 0;
}

#sourceImage,
.image-save,
.image-controls,
.preset-filters {
    display: none;
}

.image-preview {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

#canvas {
    max-height: 420px;
    object-fit: contain;
}